{% extends 'base.html.twig' %}

{% block title 'Éditer une location' %}

{% block body %}
<div class="container mt-4">
    <div class="container py-4 col-9 alert-success rounded-lg">
        <div class="col-12 ">
            <h1>Editer une location</h1>

             {{include ('admin_property/form.html.twig', {form: form, button: 'Editer'}) }}

         </div>
    </div>
</div>
{% endblock %}

