{% extends 'base.html.twig' %}

{% block title %}Voir toutes nos locations{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Toutes nos Locations</h1>
    </div>

{% endblock %}
